html, body {
	height:100%;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;

}

body { 
	background-image: url(basquiat.jpg);
	background-size: 100% 100%;
    background-attachment: fixed;
	
	

}



h1 {
	font-size: 100px;
	color: black;
	margin-left: 100px;
	text-align: center;

}

h2 {
	margin-top: 300px;
	color: black;
}


ul	{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
	float: left;
}

li a {
	 display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



img{ 
	height: 500px;
	margin-left: 250px

}
form {margin-left: 125px;


}

.precher {
	color:white;
	font-size: 25px;
}

.infobox {
	
	width: 600px;
	height: 150px;
	margin-top: 350px;
	margin-left: 45px;
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size: 24px;

}

h2 {margin-left: 125px;

}


